<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--Аппендеры -->
    <!--Файловый аппендер -->
    <property name="HOME_LOG" value="logs/app.log"/>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 10MB -->
           <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>logs/Lesson02-Task4.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>
    <!--Консольный аппендер -->
    <appender name="sout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>
    <!-- Фильтры -->
    <!-- Фильтр по маркеру -->
    <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
        <Marker>marker</Marker>
        <OnMatch>DENY</OnMatch>
    </turboFilter>
    <!-- Логгеры -->
    <!-- Корневой логгер -->
    <root level="info">
        <appender-ref ref="sout" />
    </root>
    <!-- Логгер нашего класса  -->
    <logger name="main.java.Salakhov.Lesson02.Service" level="info" >
        <appender-ref ref="sout" />
    </logger>
    <logger name="main.java.Salakhov.Lesson02.DataBase" level="info" >
        <appender-ref ref="file" />
    </logger>
    <logger name="main.java.Salakhov.Lesson02.Converter" level="info" >
        <appender-ref ref="sout" />
        <appender-ref ref="file" />
    </logger>

</configuration>
